.header-container{
    background-color: #333333;
    display: flex;
    padding: 24px
}
.author-name{
    font-size: 24px;
    text-decoration: none;
    color: black;
    flex: 1;
}
.pages-buttons{
    float: right;
    flex: 1;
}
.page-button {
    float: right;
    padding: 3px;
    padding-right: 18px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}
.page-button:hover{
    color: gray;
}
.content{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.author-portrait{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.image{
    width: 500px;
}
.body-text{
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    z-index: 2;
}
.graph-placeholder {
    width: 1px;
    height: 1px;
    position: sticky;
    top: 50%;
    left: 50%;
    z-index: -10;
}
.graph-container {
    display: flex;
    position: relative;
    bottom: 350px;
    right: 350px;
    width: 700px;
    height: 495px;
    background-color: white;
}
.graph-left{
    width: 50px;
}
.graph-right{
    width: 50px;
}
.graph-middle{
    display: flex;
    flex-direction: column;
}
.graph-middle-top{
    height: 70px;
}
.graph-middle-bot{
    height: 70px;
}
.graph{
    width: 100%;
    height: 100%;
}