.header-container{
    background-color: #333333;
    display: flex;
    padding: 24px
}
.author-name{
    font-size: 24px;
    text-decoration: none;
    flex: 1;
}
.pages-buttons{
    float: right;
    flex: 1;
}
.page-button {
    float: right;
    padding: 3px;
}
.content{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.author-portrait{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.image{
    width: 500px;
}
.body-text{
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    z-index: 2;
}
.graph-container {
    width: 1px;
    height: 1px;
    position: sticky;
    top: 50%;
    left: 50%;
    z-index: -10;
}
.graph{
    position: relative;
    bottom: 350px;
    right: 350px;
    width: 700px;
    height: 700px;
    background-color: green;
}