.header-container{
    background-color: #333333;
    display: flex;
    padding: 24px
}
.author-name{
    font-size: 24px;
    text-decoration: none;
    flex: 1;
}
.pages-buttons{
    float: right;
    flex: 1;
}
.page-button {
    float: right;
    padding: 3px;
}